@model Contact
@{
    ViewData["Title"] = "AddContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: #4eacdd; font-weight: bold">Add Contact</h3>


@using (Html.BeginForm("AddContact", "Contact", FormMethod.Post))
{
    <div class="mb-3">
        <label for="cn" class="form-label">Name</label>
        <input class="form-control" id="cn" type="text" name="ContactName">
    </div>
    <br />
    <div class="mb-3">
        <label for="cs" class="form-label">Surname</label>
        <input class="form-control" id="cs" type="text" name="ContactSurname">
    </div>
    <br />
    <div class="mb-3">
        <label for="pn" class="form-label">Phone Number</label>
        <input class="form-control" id="pn" type="number" name="ContactTelNumber">
    </div>
    <br />
    <div class="mb-3">
        <label for="em" class="form-label">Mail</label>
        <input class="form-control" id="em" type="email" name="ContactEmail">
    </div>
    <br />
    <button style="background-color: #4eacdd;" type="submit" onclick="alert('Successful.')"  class="btn btn-primary">Submit</button>
}
