@model Contact
@{
    ViewData["Title"] = "EditContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: #4eacdd; font-weight: bold">Edit Contact</h3>


@using (Html.BeginForm("EditContact", "Contact", FormMethod.Post))
{
    @Html.HiddenFor(x => x.ContactId, new { @class = "form-control" })
    @Html.HiddenFor(x => x.UserId, new { @class = "form-control" })

    <div class="mb-3">
        <label for="cn" class="form-label">Name</label>
        <input required class="form-check-input form-control" id="cn" type="text" name="ContactName">
    </div>
    <br />
    <div class="mb-3">
        <label for="cs" class="form-label">Surname</label>
        <input required class="form-check-input form-control" id="cs" type="text" name="ContactSurname">
    </div>
    <br />
    <div class="mb-3">
        <label for="pn" class="form-label">Phone Number</label>
        <input class="form-check-input form-control" id="pn" required type="number" name="ContactTelNumber">
    </div>
    <br />
    <div class="mb-3">
        <label for="em" class="form-label">Mail</label>
        <input class="form-control" id="em" type="email" name="ContactEmail">
    </div>
    <br />
    <button style="background-color: #4eacdd;" type="submit" class="btn btn-primary">Submit</button>
}