@model Entities.Concrete.User

@{
    ViewData["Title"] = "DeleteRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure</h2>
<br />
<br />
<div>
    <form asp-action="DeleteRole">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
